body {
  background-size: cover;
  font-family: "Exo 2", serif;
  height: unset;
  margin: 0;
  background: linear-gradient(300deg, #37b0d8, #0a080a, #939793);
  background-size: 300% 300%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.intro__block {
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 0.5%;
  border-radius: 100%;
  text-align: center;
  background: radial-gradient(#efd4d485, #678b7f00);
  padding-bottom: 1%;
}

.intro__title, h1 {
  font-size: 48px;
  color: #070b04;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  text-shadow: 0 0 5px #ced6d6, 0 0 10px #14bbd2, 0 0 20px #14bbd2, 0 0 40px #14bbd2, 0 0 80px #14bbd200;
}

.intro__pre-title {
  font-size: 24px;
  color: #070b04;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  text-shadow: 0 0 5px #ced6d6, 0 0 10px #14bbd2, 0 0 20px #14bbd2, 0 0 40px #14bbd2, 0 0 80px #14bbd200;
}

a {
  background-image: linear-gradient(to right, #6e8e99, #ebe4e9 50%, #040606f2 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  font-weight: 700;
  position: relative;
  font-size: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}

.levels {
  height: 100vh;
}

.instruction {
  width: calc(100vw - 20%);
  color: white;
  background: linear-gradient(#0d8d9a, #0f0c0c);
  padding-top: 1%;
  top: calc(15%);
  left: calc(10%);
  z-index: 1;
  position: absolute;
  text-align: center;
  margin: auto;

  ul {
    width: 70%;
    margin: 0 auto;
    li {
      text-align: left;
    }
  }

  button {
    margin-top: 50px;
    width: 13%;
    margin-bottom: 50px;
    border-radius: 50%;
    height: 50px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;

    @media screen and (min-width:600px) {
      font-size: 20px;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      background: #417b92;
    }
  }
}

h1 {
  padding-top: 100px;
}

.levels__container, .start-game__block {
  @media screen and (max-width:600px) {
    flex-direction: column;
    gap: 10px;
  }

  filter: drop-shadow(2px 4px 6px skyblue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  padding-top: 70px;
  background: radial-gradient(#715b5b85, #00000000);
  padding-bottom: 70px;
}

.btn {
  --hue: 190;
  position: relative;
  padding: 1rem 3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: hsl(var(--hue), 100%, 41%);
  border: 1px solid hsl(var(--hue), 100%, 41%);
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s;
}

.btn:hover {
  background: hsl(var(--hue), 100%, 31%);
}

.btn-primary {
  --hue: 187;
}

.btn-ghost {
  color: hsl(187deg 42.91% 87.59%);
  background-color: #1c1a1a94;
  border-color: hsl(187deg 82.41% 45.06%);
}

.btn-ghost:hover {
  color: white;
}

.btn-shine {
  position: relative;
}
.clicked.btns {
  opacity: 1;
}

.btn-shine::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, hsla(var(--hue), 100%, 41%, 0.5), transparent);
  transform: translateX(-100%);
  transition: 0.6s;
}

.btn-shine:hover {
  background: transparent;
  box-shadow: 0 0 20px 10px hsla(var(--hue), 100%, 41%, 0.5);
}

.btn-shine:hover::before {
  transform: translateX(100%);
}

.start-game {
  display: none;
  height: 100vh;  
}


table {
  border-collapse: collapse;
  width: 30%;
  background-color: #000000eb;
  text-align: center;
  color: #fff;
  border: 2px solid lightblue;
  margin-bottom: 80px;
}

th,
td {
  border: 1px solid #506476;
  padding: 10px;
  font-size: 18px;

  @media screen and (min-width:994px) {
    height: 50px;
  }
}
.start-game__tables {
  @media screen and (max-width:600px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.start-game__block {
  padding: 0;
  margin-top: 40px;
}

.block {
  position: relative;
  height: 36px;
  padding-right: 43px;
  position: relative;
  height: 36px;
  padding-left: 43px;

  @media screen and (min-width:994px) {
    height: 55px;
  }
}
.click {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 3px;
  left: 3px;
  width: -webkit-fill-available;
}
.btns {
  margin-top: 3px;
  width: -webkit-fill-available;
  background: linear-gradient(309deg, #14bbd2, #000000);
  opacity: 0;

  &:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.chances {
  display: flex;
  justify-content: center;

  p {
    margin: 0 0;
    background: radial-gradient(#14bbd2, #050707);
    padding: 10px;
    border: 1px solid #14bbd2;
    color: #ccf6f2;
  }
}

.success {
  background: radial-gradient(#39af3a, transparent);
  opacity: 1;
}

.back {
  display: none;
  width: fit-content;
}

.points-block {
  display: none;
  width: calc(100vw - 53%);
  color: white;
  background: linear-gradient(green, #0f0c0c);
  padding-top: 1%;
  top: calc(10%);
  left: calc(25%);
  z-index: 1;
  position: absolute;
  text-align: center;
  margin: auto;
  animation:move 1s linear;
}

@keyframes move {
  0%{
      left: 0%;
  }

  100%{
      left:25%;
  }
}